let mapleader = " "

set NERDTree
set quickscope
set ideajoin
set commentary
set textobj-indent

set number
set relativenumber
set clipboard=unnamedplus
set timeoutlen=500
set scrolloff=8
set sidescrolloff=16
set ignorecase
set showmode=false
set smartcase

imap jk <Esc>

nmap <leader>e :NERDTreeFocus<CR>
nmap <leader>E :NERDTreeToggle<CR>

nmap <leader>c <action>(CloseEditor)
nmap <leader>t <action>(CloseAllEditorsButActive)
nmap H <action>(PreviousTab)
nmap L <action>(NextTab)

nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

nmap <C-u> <C-u>zz
nmap <C-d> <C-d>zz
nmap n nzz
nmap N Nzz

vmap > >gv
vmap < <gv

nmap <leader>h :noh<CR>

nmap <leader>ff <action>(GotoFile)
nmap <leader>fc <action>(GotoClass)
nmap <leader>fj <action>(FindInPath)

nmap <leader>r <action>(RenameElement)
nmap <leader>g <action>(GenerateGroup)
nmap <leader>i <action>(ShowIntentionActions)
nmap <leader>; <action>(ReformatCode)
nmap <leader>' <action>(OptimizeImports)

nmap <leader>R <action>(RefactoringMenu)
nmap <leader>M <action>(ExtractMethod)
nmap <leader>V <action>(IntroduceVariable)
nmap <leader>C <action>(IntroduceConstant)
nmap <leader>P <action>(IntroduceParameter)

vmap <leader>R <action>(RefactoringMenu)
vmap <leader>M <action>(ExtractMethod)
vmap <leader>V <action>(IntroduceVariable)
vmap <leader>C <action>(IntroduceConstant)
vmap <leader>P <action>(IntroduceParameter)

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
